USE [NorthWindAzure1]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contact', @level2type=N'COLUMN',@level2name=N'LastName'

GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [FK_Customers_Countries]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [FK_Customers_ContactType]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [FK_Customers_Contact]
GO
ALTER TABLE [dbo].[ContactContactDevices] DROP CONSTRAINT [FK_ContactContactDevices_PhoneType]
GO
ALTER TABLE [dbo].[ContactContactDevices] DROP CONSTRAINT [FK_ContactContactDevices_Contact]
GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[PhoneType]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[Country]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[ContactType]
GO
/****** Object:  Table [dbo].[ContactContactDevices]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[ContactContactDevices]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 1/2/2019 5:30:51 PM ******/
DROP TABLE [dbo].[Contact]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactContactDevices]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactContactDevices](
	[Identifier] [int] IDENTITY(1,1) NOT NULL,
	[ContactIdentifier] [int] NULL,
	[PhoneTypeIdenitfier] [int] NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_ContactContactDevices] PRIMARY KEY CLUSTERED 
(
	[Identifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactType](
	[ContactTypeIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[ContactTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContactType] PRIMARY KEY CLUSTERED 
(
	[ContactTypeIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactIdentifier] [int] NULL,
	[ContactTypeIdentifier] [int] NULL,
	[Street] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[CountryIdentifier] [int] NULL,
	[Phone] [nvarchar](24) NULL,
	[ModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers_1] PRIMARY KEY CLUSTERED 
(
	[CustomerIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 1/2/2019 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneType](
	[PhoneTypeIdenitfier] [int] IDENTITY(1,1) NOT NULL,
	[PhoneTypeDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhoneType] PRIMARY KEY CLUSTERED 
(
	[PhoneTypeIdenitfier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactIdentifier], [FirstName], [LastName]) VALUES (2, N'Ana', N'Trujillo')
INSERT [dbo].[Contact] ([ContactIdentifier], [FirstName], [LastName]) VALUES (3, N'Antonio', N'Moreno')
INSERT [dbo].[Contact] ([ContactIdentifier], [FirstName], [LastName]) VALUES (4, N'Thomas', N'Hardy')
GO
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[ContactContactDevices] ON 

INSERT [dbo].[ContactContactDevices] ([Identifier], [ContactIdentifier], [PhoneTypeIdenitfier], [PhoneNumber], [Active]) VALUES (3, 2, 3, N'(5) 555-4729', 1)
INSERT [dbo].[ContactContactDevices] ([Identifier], [ContactIdentifier], [PhoneTypeIdenitfier], [PhoneNumber], [Active]) VALUES (4, 3, 3, N'(5) 555-3932', 1)
INSERT [dbo].[ContactContactDevices] ([Identifier], [ContactIdentifier], [PhoneTypeIdenitfier], [PhoneNumber], [Active]) VALUES (5, 4, 3, N'(171) 555-7788', 1)
GO
SET IDENTITY_INSERT [dbo].[ContactContactDevices] OFF
SET IDENTITY_INSERT [dbo].[ContactType] ON 

INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (1, N'Accounting Manager')
INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (2, N'Assistant Sales Agent')
INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (3, N'Assistant Sales Representative')
SET IDENTITY_INSERT [dbo].[ContactType] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([id], [CountryName]) VALUES (1, N'Argentina')
INSERT [dbo].[Countries] ([id], [CountryName]) VALUES (2, N'Austria')
INSERT [dbo].[Countries] ([id], [CountryName]) VALUES (3, N'Belgium')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactIdentifier], [ContactTypeIdentifier], [Street], [City], [PostalCode], [CountryIdentifier], [Phone], [ModifiedDate]) VALUES (2, N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', 2, 7, N'Avda. de la Constitución 2222', N'México D.F.', N'05022', 12, N'(5) 555-4729', CAST(N'2018-11-04 01:30:00.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactIdentifier], [ContactTypeIdentifier], [Street], [City], [PostalCode], [CountryIdentifier], [Phone], [ModifiedDate]) VALUES (3, N'Antonio Moreno Taquería', N'Antonio Moreno', 3, 7, N'Mataderos  2312', N'México D.F.', N'05023', 12, N'(5) 555-3932', CAST(N'2018-07-04 13:00:00.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactIdentifier], [ContactTypeIdentifier], [Street], [City], [PostalCode], [CountryIdentifier], [Phone], [ModifiedDate]) VALUES (4, N'Around the Horn', N'Thomas Hardy', 4, 12, N'120 Hanover Sq.', N'London', N'WA1 1DP', 19, N'(171) 555-7788', CAST(N'2018-07-04 13:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneType] ON 

INSERT [dbo].[PhoneType] ([PhoneTypeIdenitfier], [PhoneTypeDescription]) VALUES (1, N'Home')
INSERT [dbo].[PhoneType] ([PhoneTypeIdenitfier], [PhoneTypeDescription]) VALUES (2, N'Cell')
INSERT [dbo].[PhoneType] ([PhoneTypeIdenitfier], [PhoneTypeDescription]) VALUES (3, N'Office')
SET IDENTITY_INSERT [dbo].[PhoneType] OFF
ALTER TABLE [dbo].[ContactContactDevices]  WITH CHECK ADD  CONSTRAINT [FK_ContactContactDevices_Contact] FOREIGN KEY([ContactIdentifier])
REFERENCES [dbo].[Contact] ([ContactIdentifier])
GO
ALTER TABLE [dbo].[ContactContactDevices] CHECK CONSTRAINT [FK_ContactContactDevices_Contact]
GO
ALTER TABLE [dbo].[ContactContactDevices]  WITH CHECK ADD  CONSTRAINT [FK_ContactContactDevices_PhoneType] FOREIGN KEY([PhoneTypeIdenitfier])
REFERENCES [dbo].[PhoneType] ([PhoneTypeIdenitfier])
GO
ALTER TABLE [dbo].[ContactContactDevices] CHECK CONSTRAINT [FK_ContactContactDevices_PhoneType]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Contact] FOREIGN KEY([ContactIdentifier])
REFERENCES [dbo].[Contact] ([ContactIdentifier])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Contact]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_ContactType] FOREIGN KEY([ContactTypeIdentifier])
REFERENCES [dbo].[ContactType] ([ContactTypeIdentifier])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_ContactType]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Countries] FOREIGN KEY([CountryIdentifier])
REFERENCES [dbo].[Countries] ([id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Countries]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Last name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contact', @level2type=N'COLUMN',@level2name=N'LastName'
GO
