<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="smtp_1" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_2" type="System.Net.Configuration.SmtpSection"/>
      <section name="smtp_3" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- 
    extra mail setting, main could be in here also. 
    If all settings are here you should provide names that are meaningful
    rather than smtp_n where n is the index for the SMTP settings.
  -->
  <mailSettings>
    <smtp_1 from="someone@gmail.com">
      <network
        host="smtp.gmail.com"
        port="587"
        enableSsl="true"
        userName="MssGMail"
        password="!@45cow"
        defaultCredentials="false" />

      <!-- 
          where to create emails for testing, could be a different folder then 
          the one in main but if so the Post Build event need to have another 
          macro for that folder.
        -->
      <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>

    </smtp_1>

    <smtp_2 from="karenpayneoregon@gmail.com">
      <network
        host="smtp.gmail.com"
        port="587"
        enableSsl="true"
        userName="oregon@gmail.com"
        password="password"
        defaultCredentials="false" />
      <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
    </smtp_2>
    <smtp_3 from="oregon@gmail.com">
      <network
        host="smtp.comcast.net"
        port="587"
        enableSsl="true"
        userName="paynekaren@comcast.net"
        password="password"
        defaultCredentials="false" />
      <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
    </smtp_3>
  </mailSettings>
  <!-- main -->
  <system.net>
    <mailSettings>
      <smtp  from="Someone@comcast.net">
        <network
          host="smtp.comcast.net"
          port="587"
          enableSsl="true"
          userName="MissComcast"
          password="d@45cat"
          defaultCredentials="true" />

        <!-- 
          where to create emails for testing, could be a different folder then the one in smtp_1
          but if so the Post Build event need to have another macro for that folder.
        -->
        <specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>

      </smtp>
    </mailSettings>
  </system.net>
</configuration>